*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("images/logo1.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
border: 2px solid white;
}
/** box2 **/
#add1{
color: #cccccc;
font-size: 0.85rem;
margin-left: 18px;
}
#add2{
font-size: 1rem;
margin-left: 5px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: pink;
}
#select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   border: none;
}
#search{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd68;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-icon:hover{
    background-color: rgba(255, 183, 0, 0.961);
}
/**box4**/
.nav-lang{
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    width: 65px;
    height: 45px;
}
#flag{
    width: 20px;
    height: 20px;
    
}
#langs{
    width: 45px;
    height: 25px;
    background-color: #0F1111;
    border: none;
    color: white;
    font-size: 0.95rem;
    font-weight: bold;
}
/**box5**/
span{
    font-size: 0.7rem;
}

#nav2{
    font-size: 0.85rem;
    font-weight: bold;

}
/**box6**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: bolder;
}
/**panel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
display: inline;
margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("images/background.png");
    background-size: contain;
    height: 400px;
    width: 1827px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    height: 50px;
    width: 80%;
    margin-bottom: 40px;


}
.hero-msg a{
    color: #007185;
    
}
/**Shop Section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6 ;
}
.box{
    border: 2px solid white;
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
}
.box-img{
    background-size:cover;
    height: 300px;

}
.box-img:hover{
    height: 350px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
}
.box-content a{
    color:  #007185;
    text-decoration: none;

}
/**Footer**/
.foot-panel{
    margin-top: 15px;
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 240px;
}
ul{
    margin-top: 20px;
}
.foot-panel2 ul a{
    margin-top: 5px;
    display: block;
    font-size: 0.85rem;
    color:#dddddd
}
.foot-panel2 ul a:hover{
    font-size: 1rem;
    cursor: pointer;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    background-image: url("images/logo1.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    
}
.foot-panel4{
    background-color:#0F1111 ;
    color: white;
    height: 130px;
    text-align: center;
    font-size: 0.7rem;
}


.pages{
    padding-top: 25px;
    
}
.copyright{
    padding-top: 10px;
}
.Dev{
    padding-top: 10px;
}
.Dev p{
    padding-bottom: 10px;
    font-size: 0.7rem;
}
